body{
background: black;
color: rgb(255, 255, 255);
font-family: Arial, sans-serif;
margin: 10;
padding: 10;

}

h1{
text-align: center;    
color: rgb(0, 255, 85);
font-size: 45px;
padding: 10px;
}
p{
color: rgb(69, 238, 3);
font-size: 15px;
}
h2{
color : rgb(255, 0, 0);
font-size: 40px;
}
li{
color: rgb(69, 238, 3);
font-size: 15px;

}
h3{
color : rgb(38, 0, 255);
font-size: 25px;



}




