body{
background: #0f0f0f;
color: white;
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
text-align: center;
}
section{
padding: 40px 20px;
}
.topo{
font-size: 32px;
}
a{
display: inline-block;
margin-top: 20px;
padding: 12px 20px;
background: #00ff88;
color: #000;
text-decoration: none;
border-radius: 8px;


}
a:hover{
background: #00cc6a;
}

footer{
padding: 20px;
font-size: 14px;
color: #aaa;
}